.main-container {
  padding: 56px 30% 1rem 30%;
}

.content-title {
  position: relative;
  padding-top: 10px;
  text-align: center;
  color: #6f6f6f;
  font-weight: 700;
  font-size: 2rem;
}

.content-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  border-top: 5px solid #6f6f6f;
}

.content-description {
  text-align: center;
  color: #6f6f6f;
  line-height: 32px;
}

.schedule-time {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 128px;
  text-align: center;
  vertical-align: top;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}

.schedule-timeline {
  width: 48px;
  vertical-align: top;
  height: 100%;
  position: relative;
}

.schedule-dot {
  display: block;
  width: 8px;
  height: 8px;
  padding: 8px;
  margin: 12px;
}

.schedule-dot::before {
  content: "";
  position: absolute;
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  background-color: #6f6f6f;
}

.schedule-line {
  display: block;
  width: 2px;
  background-color: #6f6f6f;
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 1.5rem;
}

.schedule-line-start, .schedule-line-end {
  display: none;
}

.schedule-content h2 {
  height: auto;
  line-height: 48px;
  margin: 0;
  font-size: 18px;
}

.schedule-content p {
  margin: 0;
  color: #6f6f6f;
}

.schedule-content time {
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1248px) {
  .main-container {
    padding: 56px 20% 1rem 20%;
  }
}

@media (max-width: 828px) {
  .main-container {
    padding: 56px 10% 1rem 10%;
  }
}
