---
import Layout from "../layouts/Layout.astro";
import "../styles/activity.css";

const pageTitle = "団体概要 | 埼玉大学宇宙工学サークルあかとき";
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="about">
      <h1 class="content-title">団体概要</h1>
      <div class="about-container">
        <div class="about-description-container">
          <p class="about-description">
            埼玉大学宇宙工学サークルあかとき（以下，本サークル）は2018年5月に設立され，2019年4月に埼玉大学公認サークルとなりました．本サークルでは主に，CanSat（カンサット）と呼ばれる飲料水の缶サイズの小型人工衛星を製作しています．CanSatは実際に宇宙開発で用いられる類似した技術を使用しますが，実際に大気圏を離脱し人工衛星として運用する訳ではない為，模擬人工衛星とも呼ばれています．
          </p>
          <p class="about-description">
            CanSatの機体の設計には，コンピュータ支援設計ソフトであるCADを用いて機体の形状，材質，図面等を作成していきます．この際にコンピューター上で強度評価等を行いその機体に予想される負荷がかかった際に耐えられかなどを検証していきます．他には，CanSatには独自に製作した電子回路が搭載され，複数のセンサーで取得したデータをマイクロコンピュータによって処理し，機体制御を行います．完成した機体は毎年，秋田県能代市で実施される「能代宇宙イベント（Noshiro
            Space
            Event）」や鹿児島県種子島で実施される「種子島ロケットコンテスト」などの大会に出場し，出場チームとCanSatの性能や独自ミッションの達成に尽力しております．
          </p>
          <p class="about-description">
            本サークルでは独自に開発した放射線検出器を用いて，成層圏の放射線の研究も昨今では行っております．成層圏への到達には複数の他団体との技術協力を行っており，このような活動実績が評価され，2021年度に文部科学省より関電工賞・石井浩介賞を受賞し，その後埼玉大学より学生表彰を頂きました．
          </p>
        </div>
        <img class="about-image" src="/bg/cansat_sea.jpg" />
      </div>
    </section>
    <section class="affiliation">
      <h1 class="content-title">所属学科</h1>
      <div class="table-container">
        <table class="affiliation-table">
          <tr>
            <th>所属</th>
            <th>人数</th>
          </tr>
          <tr>
            <td>工学部 機械工学・システムデザイン学科</td>
            <td>15人</td>
          </tr>
          <tr>
            <td>工学部 電気電子物理工学科</td>
            <td>11人</td>
          </tr>
          <tr>
            <td>工学部 応用化学科</td>
            <td>4人</td>
          </tr>
          <tr>
            <td>理学部 物理学科</td>
            <td>12人</td>
          </tr>
          <tr>
            <td>埼玉大学大学院 理工学研究科</td>
            <td>1人</td>
          </tr>
          <tr>
            <td>その他（経済学部経済学科・工学部情報工学科・理学部基礎化学科）</td>
            <td>4人</td>
          </tr>
        </table>
      </div>
    </section>
    <section class="history">
      <h1 class="content-title">活動経歴</h1>
      <table class="history-table">
        <tr>
          <td class="history-time"><time>2025年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第21回種子島ロケットコンテストへ参加</h2>
            <time>2025年3月</time>
            <p>
              本サークルから2つのチームが出場した．入賞には至らなかったが，SC-23，SC-24，SC-25を完成させた．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2024年8月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第20回能代宇宙イベントへ参加</h2>
            <time>2024年8月</time>
            <p>
              本サークルから2つのチームが出場した．SC-21，SC-22を完成させ，SC-22（チーム名：JAXAITAMA）がオートデスク賞缶サット部門優秀賞を受賞した．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2024年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第20回種子島ロケットコンテストへ参加</h2>
            <time>2024年3月</time>
            <p>
              本サークルから2つのチームが出場した．入賞には至らなかったが，SC-19，SC-20を完成させた．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2023年8月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第19回能代宇宙イベントへ参加</h2>
            <time>2023年8月</time>
            <p>
              本サークルから3つのチームが出場した．入賞には至らなかったが，SC-16，SC-17，SC-18を完成させた．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2023年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第19回種子島ロケットコンテストへ参加</h2>
            <time>2023年3月</time>
            <p>
              本サークルから2つのチームが出場した．入賞には至らなかったが，SC-13，SC-14を完成させた．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2022年8月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第18回能代宇宙イベントへ参加</h2>
            <time>2022年8月</time>
            <p>
              本サークルから3つのチームが出場した．入賞には至らなかったが，SC-10，SC-11，SC-12を完成させた．
            </p>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2022年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第18回種子島ロケットコンテストへ参加</h2>
            <time>2022年3月</time>
            <p>
              本サークルから2つのチームが出場した．入賞には至らなかったが，SC-7を完成させた．
            </p>
            <div class="history-img-container">
              <img src="/bg/FNPACFDVQAULD_l.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2021年12月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>土壌を採取して小型モデルロケットで帰還するCanSat開発完了</h2>
              <time>2021年12月</time>
            <p>
              実際の惑星探査を想定し，土壌採取を行い本サークルで初となる小型モデルロケットを用いて，目的地にサンプルを持ち帰るCanSat「SC-5」を製作した．本機体は第17回種子島ロケットコンテスト大会，第17回能代宇宙イベント（日程により断念）に向けて製作された．小型モデルロケットの製作には<a
                href="https://www.iot.ac.jp/campuslife/project/cosmos/"
                >ものつくり大学宇宙開発研究プロジェクト『MAXS』</a
              >に技術協力して頂いている．
            </p>
            <div class="history-img-container">
              <img src="/img/E6lpWy2VoAIDTu2.jpg" />
              <img src="/img/SC5-1.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2021年10月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>埼玉大学より学生表彰</h2>
            <time>2021年10月</time>
            <p>
              本サークルを<a
                href="http://www.saitama-u.ac.jp/entrance/scweb/column/column05/1034/"
                >埼玉大学ホームページ</a
              >にて紹介して頂き，さらに令和3年度10月期
              学生表彰にて本サークルが埼玉大学 学長より<a
                href="http://www.saitama-u.ac.jp/support/kagai/08/20211006hyousyou.pdf"
                >表彰状を授与</a
              >．学生表彰とは埼玉大学学生表彰規則に明記される：(1)社会的に学術研究等の成果が優れていると認められた，(2)課外活動の成果が特に顕著であり，かつ，課外活動の振興に功績があったと認められる，(3)社会活動において優れた評価を受け，かつ，本学の名誉を著しく高めたと認められる，(4)その他本学学生として表彰に価すると認められる，に該当する者に与える表彰である．
            </p>
            <div class="history-img-container">
              <img src="/img/b1.png" />
              <img src="/img/b2.png" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2021年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第17回種子島ロケットコンテストへ参加</h2>
            <time>2021年3月</time>
            <p>
              種子島ロケットコンテストCanSat部門にて本サークルチーム「ヘキサゴン」が優勝．第17回はコロナウイルス感染症を懸念しオンラインで実施．
            </p>
            <div class="history-img-container">
              <img src="/img/a3.png" />
              <img src="/img/ExYMNmdVEAEP87m.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2021年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>御宿共同打上実験</h2>
            <time>2021年3月</time>
            <p>
              <a href="https://corerocket.net/"
                >CORE（Challengers of Rocket Engineering）</a
              >が製作する「ひばり１」ロケットに本サークルが製作したCanSat「SC-4」を搭載し，見事サクセスクライテリア100%達成を果たす
            </p>
            <div class="history-img-container">
              <img src="/img/Ewru-ZFUUAMvZch.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2021年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>文部科学省主催 第10回サイエンス・インカレにてダブル受賞</h2>
              <time>2021年3月</time>
            <p>
              第16回能代宇宙イベントにおいてロケットにより打ち上げられる予定であった模擬人工衛星CanSat（機体名：SC-4）に搭載可能な，小型シンチレーション式放射線検出器の開発・性能評価を行った．これが評価され，文部科学省主催第10回サイエンス・インカレにて関電工賞・石井浩介賞のダブル受賞を果たす．
            </p>
            <div class="history-img-container">
              <img src="/img/NSE16poster_rev4.png" />
              <img src="/img/NSE16poster_rev5.png" />
              <img src="/img/EvTnlKhVcAEzBJr.jpg" />
              <img src="/img/a1.jpg" />
              <img src="/img/a2.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2020年11月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第16回能代宇宙イベント</h2>
            <time>2020年11月</time>
            <p>
              <a href="https://corerocket.net/"
                >CORE（Challengers of Rocket Engineering）</a
              >が製作する「ひばり１」ロケットに本サークルが製作したCanSat「SC-4」を搭載し，高度3kmからの放射線などの様々なデータを取得する予定であったが，天候の影響で打ち上げを断念．
            </p>
            <div class="history-img-container">
              <img src="/img/1606673483426.jpg" />
              <img src="/img/1606673482174.png" />
              <img src="/img/1606673476363.jpg" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2020年4月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>ロゴマークをリニューアルする</h2>
            <time>2020年4月</time>
            <p>デザイナー：岡田夏希（理学部物理学科）によって作成された．</p>
            <div class="history-img-container">
              <img src="/akatoki-logo.svg" alt="あかときロゴ" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2020年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第16回種子島ロケットコンテスト中止</h2>
            <time>2020年3月</time>
            <p></p>
            <div class="history-img-container"></div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2019年8月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第15回能代宇宙イベント参加</h2>
            <time>2019年8月</time>
            <p></p>
            <div class="history-img-container"></div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2019年4月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>埼玉大学の公認サークルになる</h2>
            <time>2019年4月</time>
            <p></p>
            <div class="history-img-container"></div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2019年3月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line"></span>
          </td>
          <td class="history-content">
            <h2>第15回種子島ロケットコンテストに参加</h2>
            <time>2019年3月</time>
            <p></p>
            <div class="history-img-container"></div>
          </td>
        </tr>
        <tr>
          <td class="history-time"><time>2018年5月</time></td>
          <td class="history-timeline">
            <span class="history-dot"></span>
            <span class="history-line history-line-start"></span>
          </td>
          <td class="history-content">
            <h2>埼玉大学宇宙工学サークルあかときを設立</h2>
              <time>2018年5月</time>
            <p>初代代表：石﨑大貴（理学部物理学科）らによって設立された．</p>
            <div class="history-img-container">
              <img src="/img/AKTK.jpg" alt="あかとき旧ロゴ" />
            </div>
          </td>
        </tr>
      </table>
    </section>
    <section class="expences">
      <h1 class="content-title">団体活動費</h1>
      <div class="expences-container">
        <p class="expences-description">
          本サークルは2021年度までプロジェクト毎に支出分をその開発メンバーで負担してきました。つまり、どのプロジェクトにも一切参加することが無ければ個人の負担分はありませんでした。
          また、大きなプロジェクトについては、埼玉大学学生後援会様より多額の支援を頂きミッション成功に尽力して参りました。その他に開発に必要不可欠なテスター、オシロスコープ、3Dプリンターといった物品等の購入についてはガクセイ協賛金や、協賛頂いた企業様からのご支援、本サークルの賞金等で購入させて頂いておりました。
          しかしながら、このような収入源での本サークルの維持は難しいと判断し、2022年度より年会費制度を導入しました。
          本サークル入会届を提出した際に年会費1,000円を、継続届を提出した際に2,000円をお支払い頂きます。宜しくお願い致します。
        </p>
        <img class="expences-image" src="/img/aktkmoney1.png" />
      </div>
    </section>
  </main>
</Layout>
