---
import Layout from "../layouts/Layout.astro";
import "../styles/form.css";

const pageTitle = "入会・継続フォーム | 埼玉大学宇宙工学サークルあかとき";
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <h1 class="content-title">入会・継続フォーム</h1>
    <form
      class="form-container"
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfA4VyoNzoAGdKeoGWr0M-Xx8r-vRzRHJIWQmAN9vkY1tyxvg/formResponse"
      method="post"
      target="hidden_iframe"
      onsubmit="submitted=true;"
    >
      <section class="gmail-container">
        <h2 class="form-title">Gmailアドレス</h2>
        <input
          type="email"
          class="form-textbox"
          name="entry.1035137261"
          required="required"
          aria-required="true"
          placeholder="example@gmail.com"
        />
      </section>
      <section class="kanji-name-container">
        <div class="kanji-sei-container">
          <h2 class="form-title">姓</h2>
          <input
            type="text"
            class="form-textbox"
            name="entry.1269108437"
            required="required"
            aria-required="true"
            placeholder="埼玉"
          />
        </div>
        <div class="kanji-mei-container">
          <h2 class="form-title">名</h2>
          <input
            type="text"
            class="form-textbox"
            name="entry.1319588197"
            required="required"
            aria-required="true"
            placeholder="太郎"
          />
        </div>
      </section>
      <section class="kana-name-container">
        <div class="kana-sei-container">
          <h2 class="form-title">セイ</h2>
          <input
            type="text"
            class="form-textbox"
            name="entry.39965934"
            required="required"
            aria-required="true"
            placeholder="サイタマ"
          />
        </div>
        <div class="kana-mei-container">
          <h2 class="form-title">メイ</h2>
          <input
            type="text"
            class="form-textbox"
            name="entry.594639471"
            required="required"
            aria-required="true"
            placeholder="タロウ"
          />
        </div>
      </section>
      <section class="sex-container">
        <h2 class="form-title">性別</h2>
        <div class="form-radio">
          <input
            name="entry.968780166"
            required="required"
            aria-required="true"
            value="男"
            type="radio"
            id="male"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="male">男</label>
        </div>
        <div class="form-radio">
          <input
            name="entry.968780166"
            required="required"
            aria-required="true"
            value="女"
            type="radio"
            id="female"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="female">女</label>
        </div>
        <div class="form-radio">
          <input
            name="entry.968780166"
            required="required"
            aria-required="true"
            value="その他"
            type="radio"
            id="other-sex"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="other-sex">その他</label>
        </div>
        <div class="form-radio">
          <input
            name="entry.968780166"
            required="required"
            aria-required="true"
            value="無回答"
            type="radio"
            id="no-answer"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="no-answer">無回答</label>
        </div>
      </section>
      <section class="birth-date-container">
        <h2 class="form-title">生年月日</h2>
        <input
          type="date"
          class="form-textbox"
          name="entry.1372008899"
          required="required"
          aria-required="true"
        />
      </section>
      <section class="student-number-container">
        <h2 class="form-title">学籍番号</h2>
        <input
          type="text"
          class="form-textbox"
          name="entry.2012582823"
          required="required"
          aria-required="true"
          placeholder="24xx001"
        />
      </section>
      <section class="grade-container">
        <h2 class="form-title">学年</h2>
        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="B1"
            type="radio"
            id="B1"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="B1">B1</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="B2"
            type="radio"
            id="B2"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="B2">B2</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="B3"
            type="radio"
            id="B3"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="B3">B3</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="B4"
            type="radio"
            id="B4"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="B4">B4</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="M1"
            type="radio"
            id="M1"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="M1">M1</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="M2"
            type="radio"
            id="M2"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="M2">M2</label>
        </div>

        <div class="form-radio">
          <input
            name="entry.351794380"
            required="required"
            aria-required="true"
            value="その他"
            type="radio"
            id="other-grade"
            class="form-radio-input"
          />
          <label class="form-radio-label" for="other-grade">その他</label>
        </div>
      </section>
      <section class="affiliation-container">
        <h2 class="form-title">所属</h2>
        <input
          type="text"
          class="form-textbox"
          name="entry.1652910411"
          required="required"
          aria-required="true"
          placeholder="理学部物理学科"
        />
      </section>
      <section class="phone-number-container">
        <div class="mobile-number-container">
          <h2 class="form-title">あなたの携帯電話番号</h2>
          <input
            type="tel"
            class="form-textbox"
            name="entry.1721750322"
            required="required"
            aria-required="true"
            placeholder="07012345678"
          />
        </div>
        <div class="emergency-number-container">
          <h2 class="form-title">緊急時の連絡先電話番号</h2>
          <input
            type="tel"
            class="form-textbox"
            name="entry.462402523"
            required="required"
            aria-required="true"
            placeholder="04812345678"
          />
        </div>
      </section>
      <section class="emergency-contact-container">
        <h2 class="form-title">緊急時連絡先</h2>
        <input
          type="text"
          class="form-textbox"
          name="entry.414037748"
          required="required"
          aria-required="true"
          placeholder="父親の携帯電話"
        />
      </section>
      <section class="constitution-container">
        <a class="page-link" href="/constitution.pdf" target="_blank"
          >埼玉大学宇宙工学サークルあかとき会則&#x2197;</a
        >
        <a class="page-link" href="/ExperimentalProtocol.pdf" target="_blank"
          >実験規約書&#x2197;</a
        >
        <div class="checkbox-container">
          <input
            type="checkbox"
            required="required"
            aria-required="true"
            id="constitution"
            class="form-checkbox"
          />
          <label class="form-checkbox-label" for="constitution"
            >埼玉大学宇宙工学サークルあかとき会則に則り活動する</label
          >
        </div>
      </section>
      <section>
        <button type="submit" value="Submit" class="submit-button">送信</button>
      </section>
    </form>
  </main>
  <script type="text/javascript">
    let submitted = false;
  </script>
  <iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display: none"
    onload="if(submitted){window.location='/thankyou/';}"></iframe>
</Layout>
