---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/akatoki-logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>埼玉大学宇宙工学サークルあかとき</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img src="/akatoki-logo.svg" alt="埼玉大学宇宙工学サークルあかとき"/></a>
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/activity/">団体概要</a></li>
          <li><a href="/shinkan/">新歓情報</a></li>
          <li><a href="/photos/">写真</a></li>
          <li><a href="/mailto:aktk.saidai@gmail.com">問い合わせ</a></li>
          <li><a href="/article/">記事一覧</a></li>
          <li><a href="/form/">入会・継続フォーム</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>