---
import Layout from '../layouts/Layout.astro';
import '../styles/photos.css';

const pageTitle = "写真 | 埼玉大学宇宙工学サークルあかとき";

const photos = [
  "/photos/20220315_182227.webp",
  "/photos/20220315_180809.webp",
  "/photos/20220310_163100.webp",
  "/photos/230322.webp",
  "/photos/230322.1.webp",
  "/photos/230306_230322.webp",
  "/photos/202334_230322.webp",
  "/photos/20210304_034308.webp",
  "/photos/20210304_055607.webp",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_631.webp",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_757.webp",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_936.webp",
  "/photos/IMG_2454_3_3.webp",
  "/photos/IMG_2618.webp",
  "/photos/VideoCapture_20211031-182421_remastered.webp",
  "/photos/20211124_113213.webp",
  "/photos/20220112_173812.webp",
  "/photos/20220116_145258.webp",
  "/photos/20220116_145403.webp",
  "/photos/20220119_222452.webp",
  "/photos/LINE_ALBUM_220319_0.webp",
  "/photos/LINE_ALBUM_220319_1.webp",
  "/photos/LINE_ALBUM_220319_2.webp",
  "/photos/LINE_ALBUM_220319_3.webp",
  "/photos/LINE_ALBUM_220319.webp",
  "/photos/LINE_ALBUM_NSE2019_220319.webp",
  "/photos/LINE_ALBUM_220319_4.webp",
  "/photos/LINE_ALBUM_220319_5.webp",
  "/photos/LINE_ALBUM_220319_6.webp",
]
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <ul class="gallery">
      {photos.map((photo) => (
        <li>
          <a href={photo}>
            <img src={photo}/>
          </a>
        </li>
      ))}      
    </ul>
  </main>
</Layout>