---
import Layout from '../layouts/Layout.astro';
import '../styles/photos.css';

const pageTitle = "写真 | 埼玉大学宇宙工学サークルあかとき";

const photos = [
  "/photos/20220315_182227.jpg",
  "/photos/20220315_180809.jpg",
  "/photos/20220310_163100.jpg",
  "/photos/230322.jpg",
  "/photos/230322.1.jpg",
  "/photos/230306_230322.jpg",
  "/photos/202334_230322.jpg",
  "/photos/20210304_034308.jpg",
  "/photos/20210304_055607.jpg",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_631.jpg",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_757.jpg",
  "/photos/c1ce430ff14b7104576e989276b318483_63240489_210323_936.jpg",
  "/photos/IMG_2454_3_3.jpg",
  "/photos/VideoCapture_20211031-182421_remastered.jpg",
  "/photos/20211124_113213.jpg",
  "/photos/20220112_173812.jpg",
  "/photos/20220116_145258.jpg",
  "/photos/20220116_145403.jpg",
  "/photos/20220119_222452.jpg",
  "/photos/LINE_ALBUM_220319_0.jpg",
  "/photos/LINE_ALBUM_220319_1.jpg",
  "/photos/LINE_ALBUM_220319_2.jpg",
  "/photos/LINE_ALBUM_220319_3.jpg",
  "/photos/LINE_ALBUM_220319.jpg",
  "/photos/LINE_ALBUM_NSE2019_220319.jpg",
  "/photos/LINE_ALBUM_220319_4.jpg",
  "/photos/LINE_ALBUM_220319_5.jpg",
  "/photos/LINE_ALBUM_220319_6.jpg",
]
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <ul class="gallery">
      {photos.map((photo, index) => (
        <li key={index}>
          <a href={photo}>
            <img src={photo}/>
          </a>
        </li>
      ))}      
    </ul>
  </main>
</Layout>