---

---

<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>埼玉大学宇宙工学サークルあかとき</title>

    <!-- mobile responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content="This is meta description" />
    <meta name="author" content="Akatoki Saidai" />

    <!-- plugins -->

    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="plugins/hover/hover.css" />
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="plugins/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="plugins/text-animation/text-animation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap"
    />

    <!-- Main Stylesheet -->

    <link rel="stylesheet" href="css/style.min.css" media="screen" />
    <link rel="stylesheet" href="css/complement.css" />
    <link rel="stylesheet" href="css/mystyle.css" />

    <!--Favicon-->
    <link
      href="images/akatoki_logo.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
  </head>

  <body>
    <section class="menu fix" id="menu">
      <nav>
        <div class="menu-container">
          <div class="desktop-menu-logo">
            <a href="/"
              ><img
                class="img-fluid"
                src="images/akatoki_logo.png"
                alt="埼玉大学宇宙工学サークルあかときロゴ"
                id="desktop-logo"
              /></a
            >
          </div>
          <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
            <li class="menu-item hvr-underline-from-left">
              <a href="./">ホーム</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="activity.html">団体概要</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="shinkan.html">新歓情報</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="photos.html">写真</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="mailto:aktk.saidai@gmail.com">問い合わせ</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="article.html">記事一覧</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="form.html">入会・継続フォーム</a>
            </li>
          </ul>

          <div class="mobile-menu">
            <a class="menu-link">
              <div class="mobile-menu-nav">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="mobile-menu-logo">
              <a href="/"
                ><img
                  class="img-fluid"
                  src="images/akatoki_logo.png"
                  alt="あかとき　埼玉大学CanSat製作サークル"
                /></a
              >
            </div>
            <div class="menu-slider">
              <nav>
                <ul class="mobile-menu-list">
                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="./">ホーム</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="activity.html">団体概要</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="shinkan.html">新歓情報</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="photos.html">写真</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="mailto:aktk.saidai@gmail.com">問い合わせ</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="">記事一覧</a>
                  </li>

                  <li class="hvr-shutter-out-vertical mobile-menu-item">
                    <a href="form.html">入会・継続フォーム</a>
                  </li>
                </ul>

                <ul class="mobile-menu-icons list-inline">
                  <a href="https://twitter.com/aktk_saidai" target="_blank"
                    ><i class="fab fa-twitter fa-2x akatokicolor"></i></a
                  >

                  <a href="mailto:aktk.saidai@gmail.com"
                    ><i class="fa-solid fa-envelope fa-2x akatokicolor"></i></a
                  >

                  <a
                    href="https://www.youtube.com/channel/UCatV2sGwa6CtGaq9310GKxg"
                    target="_blank"
                    ><i class="fa-brands fa-youtube fa-2x akatokicolor"></i></a
                  >
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </nav>
    </section>

    <section class="menu unfix" id="menu">
      <nav>
        <div class="menu-container">
          <div class="desktop-menu-logo">
            <a href="/"
              ><img
                class="img-fluid"
                src="images/akatoki_logo.png"
                alt="埼玉大学宇宙工学サークルあかときロゴ"
                id="desktop-logo"
              /></a
            >
          </div>
          <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
            <li class="menu-item hvr-underline-from-left">
              <a href="./">ホーム</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="activity.html">団体概要</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="shinkan.html">新歓情報</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="photos.html">写真</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="mailto:aktk.saidai@gmail.com">問い合わせ</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="article.html">記事一覧</a>
            </li>

            <li class="menu-item hvr-underline-from-left">
              <a href="form.html">入会・継続フォーム</a>
            </li>
          </ul>

          <div class="mobile-menu">
            <a class="menu-link">
              <div class="mobile-menu-nav">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="mobile-menu-logo">
              <a href="/"
                ><img
                  class="img-fluid"
                  src="images/akatoki_logo.png"
                  alt="埼玉大学宇宙工学サークルあかときロゴ"
                /></a
              >
            </div>
          </div>
        </div>
      </nav>
    </section>

    <section class="portfolio" id="photos">
      <div class="container-fluid text-center">
        <div class="row portfolio-holder text-left">
          <div class="col-12 text-center">
            <h1 class="wow fadeInUp mt-5" data-wow-duration="1.5s">写真</h1>
          </div>
          <div class="filtering wow fadeInUp" data-wow-duration="1.5s">
            <ul class="portfolio-navigation">
              <li data-filter="all" class="hvr-sweep-to-right active">All</li>
              <li data-filter="2023" class="hvr-sweep-to-right">2023</li>
              <li data-filter="2022" class="hvr-sweep-to-right">2022</li>
              <li data-filter="2021" class="hvr-sweep-to-right">2021</li>
              <li data-filter="2020" class="hvr-sweep-to-right">2020</li>
              <li data-filter="2019" class="hvr-sweep-to-right">2019</li>
              <li data-filter="2018" class="hvr-sweep-to-right">2018</li>
              <li data-filter="cansat" class="hvr-sweep-to-right">CanSat</li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-10 mx-auto">
            <div
              class="row filtr-container wow fadeInUp list"
              data-wow-duration="1.5s"
            >
              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2022/20220315_182227.jpg" title="">
                    <img src="images/photos/2022/20220315_182227.jpg" />
                    <div class="item-caption">
                      <h2>富士急<br />ハイランド</h2>
                      <p>2022</p>
                      <div class="item-created">2022/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2022/20220315_180809.jpg" title="">
                    <img src="images/photos/2022/20220315_180809.jpg" />
                    <div class="item-caption">
                      <h2>富士急<br />ハイランド</h2>
                      <p>2022</p>
                      <div class="item-created">2022/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="cansat"
              >
                <div class="item-holder">
                  <a href="images/photos/2022/20220310_163100.jpg" title="">
                    <img src="images/photos/2022/20220310_163100.jpg" />
                    <div class="item-caption">
                      <h2>CanSat機体<br />SC-2.1</h2>
                      <p>CanSat</p>
                      <div class="item-created">2022/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2023"
              >
                <div class="item-holder">
                  <a href="images/photos/2023/230322.jpg" title="">
                    <img src="images/photos/2023/230322.jpg" />
                    <div class="item-caption">
                      <h2>種コン本番<br /></h2>
                      <p>2023</p>
                      <div class="item-created">2023/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2023"
              >
                <div class="item-holder">
                  <a href="images/photos/2023/230322.1.jpg" title="">
                    <img src="images/photos/2023/230322.1.jpg" />
                    <div class="item-caption">
                      <h2>機体投下の様子<br /></h2>
                      <p>2023</p>
                      <div class="item-created">2023/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2023"
              >
                <div class="item-holder">
                  <a href="images/photos/2023/230306_230322.jpg" title="">
                    <img src="images/photos/2023/230306_230322.jpg" />
                    <div class="item-caption">
                      <h2>集合写真<br /></h2>
                      <p>2023</p>
                      <div class="item-created">2023/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="cansat"
              >
                <div class="item-holder">
                  <a href="images/photos/2023/202334_230322.jpg" title="">
                    <img src="images/photos/2023/202334_230322.jpg" />
                    <div class="item-caption">
                      <h2>SC-14<br /></h2>
                      <p>CanSat</p>
                      <div class="item-created">2023/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2023"
              >
                <div class="item-holder">
                  <a href="images/photos/2023/IMG_2618.jpg" title="">
                    <img src="images/photos/2023/IMG_2618.jpg" />
                    <div class="item-caption">
                      <h2>制作活動<br /></h2>
                      <p>2023</p>
                      <div class="item-created">2023/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <!--<div class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item" data-category="2021">
              <div class="item-holder">
                <a href="images/photos/2021/20210304_015509.jpg" title="">
                  <img src="images/photos/2021/20210304_015509.jpg">
                  <div class="item-caption">
                    <h2>星を見に行く<br></h2>
                    <p>2021</p>
                    <div class="item-created">2021/03</div>
                  </div>
                </a>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item" data-category="2021">
              <div class="item-holder">
                <a href="images/photos/2021/20210304_033046.jpg" title="">
                  <img src="images/photos/2021/20210304_033046.jpg">
                  <div class="item-caption">
                    <h2>星見<br></h2>
                    <p>2021</p>
                    <div class="item-created">2021/03</div>
                  </div>
                </a>
              </div>
            </div>-->

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20210304_034308.jpg" title="">
                    <img src="images/photos/2021/20210304_034308.jpg" />
                    <div class="item-caption">
                      <h2>星を見に行く<br /></h2>
                      <p>2021</p>
                      <div class="item-created">2021/03</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20210304_055607.jpg" title="">
                    <img src="images/photos/2021/20210304_055607.jpg" />
                    <div class="item-caption">
                      <h2>星を見に行く<br /></h2>
                      <p>2021</p>
                      <div class="item-created">2021/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a
                    href="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_631.jpg"
                    title=""
                  >
                    <img
                      src="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_631.jpg"
                    />
                    <div class="item-caption">
                      <h2>SC-4<br />打ち上げ</h2>
                      <p>2021</p>
                      <div class="item-created">2021/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="cansat"
              >
                <div class="item-holder">
                  <a
                    href="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_757.jpg"
                    title=""
                  >
                    <img
                      src="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_757.jpg"
                    />
                    <div class="item-caption">
                      <h2>SC-4<br />機体</h2>
                      <p>CanSat</p>
                      <div class="item-created">2021/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a
                    href="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_936.jpg"
                    title=""
                  >
                    <img
                      src="images/photos/2021/c1ce430ff14b7104576e989276b318483_63240489_210323_936.jpg"
                    />
                    <div class="item-caption">
                      <h2>記念撮影<br />CORE</h2>
                      <p>2021</p>
                      <div class="item-created">2021/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/IMG_2454_3_3.jpg" title="">
                    <img src="images/photos/2021/IMG_2454_3_3.jpg" />
                    <div class="item-caption">
                      <h2>星見<br />CORE</h2>
                      <p>2021</p>
                      <div class="item-created">2021/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="cansat"
              >
                <div class="item-holder">
                  <a
                    href="images/photos/2021/VideoCapture_20211031-182421_remastered.jpg"
                    title=""
                  >
                    <img
                      src="images/photos/2021/VideoCapture_20211031-182421_remastered.jpg"
                    />
                    <div class="item-caption">
                      <h2>SC-5<br />打ち上げ</h2>
                      <p>CanSat</p>
                      <div class="item-created">2021/8</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2021"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20211124_113213.jpg" title="">
                    <img src="images/photos/2021/20211124_113213.jpg" />
                    <div class="item-caption">
                      <h2>in長野<br />ドライブ</h2>
                      <p>2021</p>
                      <div class="item-created">2021/11</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20220112_173812.jpg" title="">
                    <img src="images/photos/2021/20220112_173812.jpg" />
                    <div class="item-caption">
                      <h2>SC-2.1<br /></h2>
                      <p>2022</p>
                      <div class="item-created">2022/01</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20220116_145258.jpg" title="">
                    <img src="images/photos/2021/20220116_145258.jpg" />
                    <div class="item-caption">
                      <h2>SC-2.1<br /></h2>
                      <p>2022</p>
                      <div class="item-created">2022/01</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20220116_145403.jpg" title="">
                    <img src="images/photos/2021/20220116_145403.jpg" />
                    <div class="item-caption">
                      <h2>SC-2.1<br />SC-8</h2>
                      <p>2022</p>
                      <div class="item-created">2022/01</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2022"
              >
                <div class="item-holder">
                  <a href="images/photos/2021/20220119_222452.jpg" title="">
                    <img src="images/photos/2021/20220119_222452.jpg" />
                    <div class="item-caption">
                      <h2>SC-2.1<br />つくる</h2>
                      <p>2022</p>
                      <div class="item-created">2022/01</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2020"
              >
                <div class="item-holder">
                  <a href="images/photos/2020/LINE_ALBUM_220319_0.jpg" title="">
                    <img src="images/photos/2020/LINE_ALBUM_220319_0.jpg" />
                    <div class="item-caption">
                      <h2>眺める<br /></h2>
                      <p>2020</p>
                      <div class="item-created">2020/11</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2020"
              >
                <div class="item-holder">
                  <a href="images/photos/2020/LINE_ALBUM_220319_1.jpg" title="">
                    <img src="images/photos/2020/LINE_ALBUM_220319_1.jpg" />
                    <div class="item-caption">
                      <h2>JAXA実験場<br />SC-4</h2>
                      <p>2020</p>
                      <div class="item-created">2020/11</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2020"
              >
                <div class="item-holder">
                  <a href="images/photos/2020/LINE_ALBUM_220319_2.jpg" title="">
                    <img src="images/photos/2020/LINE_ALBUM_220319_2.jpg" />
                    <div class="item-caption">
                      <h2>さいたまポーズ<br /></h2>
                      <p>2020</p>
                      <div class="item-created">2020/11</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2020"
              >
                <div class="item-holder">
                  <a href="images/photos/2020/LINE_ALBUM_220319_3.jpg" title="">
                    <img src="images/photos/2020/LINE_ALBUM_220319_3.jpg" />
                    <div class="item-caption">
                      <h2>inもの大<br /></h2>
                      <p>2020</p>
                      <div class="item-created">2020/9</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2020"
              >
                <div class="item-holder">
                  <a href="images/photos/2020/LINE_ALBUM_220319.jpg" title="">
                    <img src="images/photos/2020/LINE_ALBUM_220319.jpg" />
                    <div class="item-caption">
                      <h2>COREポーズ<br />SC-4</h2>
                      <p>2020</p>
                      <div class="item-created">2020/11</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2019"
              >
                <div class="item-holder">
                  <a
                    href="images/photos/2019/LINE_ALBUM_NSE2019_220319.jpg"
                    title=""
                  >
                    <img
                      src="images/photos/2019/LINE_ALBUM_NSE2019_220319.jpg"
                    />
                    <div class="item-caption">
                      <h2>能代<br /></h2>
                      <p>2019</p>
                      <div class="item-created">2019/8</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2018"
              >
                <div class="item-holder">
                  <a href="images/photos/2018/LINE_ALBUM_220319_4.jpg" title="">
                    <img src="images/photos/2018/LINE_ALBUM_220319_4.jpg" />
                    <div class="item-caption">
                      <h2>種コン<br /></h2>
                      <p>2018</p>
                      <div class="item-created">2018/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2018"
              >
                <div class="item-holder">
                  <a href="images/photos/2018/LINE_ALBUM_220319_5.jpg" title="">
                    <img src="images/photos/2018/LINE_ALBUM_220319_5.jpg" />
                    <div class="item-caption">
                      <h2>種コン<br /></h2>
                      <p>2018</p>
                      <div class="item-created">2018/3</div>
                    </div>
                  </a>
                </div>
              </div>

              <div
                class="col-lg-4 col-md-6 col-sm-6 col-12 filtr-item"
                data-category="2018"
              >
                <div class="item-holder">
                  <a href="images/photos/2018/LINE_ALBUM_220319_6.jpg" title="">
                    <img src="images/photos/2018/LINE_ALBUM_220319_6.jpg" />
                    <div class="item-caption">
                      <h2>種コン<br /></h2>
                      <p>2018</p>
                      <div class="item-created">2018/3</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<a href="#home" class="scroll-up hvr-icon-up"><img src="" /></a>
