---
import Layout from "../layouts/Layout.astro";
import "../styles/safety.css";

const pageTitle = "安全管理について | 埼玉大学宇宙工学サークルあかとき";
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="about-safety">
      <h1 class="content-title">安全管理について</h1>
      <p class="about-safety-description">
        埼玉大学宇宙工学サークルあかときでは，会員に重大な危害が生じる事故や非会員に損害を与える事態を防ぐため，安全講習の実施や実験規約書に則った実験を行っています．
      </p>
      <p class="about-safety-description">
        <a href="/SafetyLecture.pdf">安全講習</a
        >は，安全に関する考え方や活動で生じるリスクについてまとめています．全会員が安全講習を受講しています．&#8251;一部「共同実験の位置づけと安全教育20240611版（和歌山大学秋山先生著）」より
      </p>
      <p class="about-safety-description">
        <a href="/ExperimentalProtocol.pdf">実験規約書</a>は，全ての実験を安全に行うために作成されています．実験の際には，団体内の安全監査委員会が実施する試験に合格した者が，実験責任者として本規約書に則り実施する義務があります．
      </p>
    </section>
  </main>
</Layout>
