---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";

const pageTitle = "安全管理 | 埼玉大学宇宙工学サークルあかとき";
---

<Layout pageTitle={pageTitle}>
  <main class="main-container">
    
  </main>
</Layout>
