---
import Layout from "../layouts/Layout.astro";
import "../styles/shinkan.css";

const pageTitle = "新歓情報 | 埼玉大学宇宙工学サークルあかとき";
---
<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="schedule">
      <h1 class="content-title">新歓スケジュール</h1>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2024-04-12</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>17:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-16</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-18</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-24</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line schedule-line-start"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
      </table>
    </section>
    <section class="ex-schedule">
      <h1 class="content-title">昨年度の新歓スケジュール</h1>
      <p class="content-description">昨年度の新歓スケジュールは以下の通りです。</p>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2023-04-07</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <time>9:30 ～ 17:30</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-08</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <time>10:00 ～ 15:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-10</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <time>13:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-11</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <time>13:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-15</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <p>小会議室</p>
            <time>15:00 ～ 18:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-19</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <p>小会議室</p>
            <time>18:10 ～ 19:30</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2023-04-22</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line schedule-line-end"></span>
          </td>
          <td class="schedule-content">
            <h2>対面活動</h2>
            <p>音楽鑑賞室</p>
            <time>15:00 ～ 18:00</time>
          </td>
        </tr>
      </table>
    </section>
  </main>
</Layout>
