---
import Layout from "../layouts/Layout.astro";
import "../styles/shinkan.css";

const pageTitle = "新歓情報 | 埼玉大学宇宙工学サークルあかとき";
---
<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="info__aktk">
      <h1 class="content-title">新歓スケジュール</h1>
      <p class="content-description">日程は調整できます。お気軽にご連絡ください！</p>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2026-04-03</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>対面説明会</h3>
            <time class="schedule-date-inline">2026-04-03</time>
            <p class="shinkan__info--content">履修相談</p>
            <p class="shinkan__info--place">大学会館 小会議室</p>
            <time>15:00 ～ 19:45</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-13</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>対面説明会</h3>
            <time class="schedule-date-inline">2025-04-13</time>
            <p class="shinkan__info--content">CanSatをつくってみよう</p>
            <p class="shinkan__info--place">全学講義棟2号館 103室</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-16</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>対面説明会</h3>
            <time class="schedule-date-inline">2025-04-16</time>
            <p class="shinkan__info--content">CanSatをつくってみよう</p>
            <p class="shinkan__info--place">大学会館3階 小集会室</p>
            <time>16:00 ～ 19:45</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-17</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>対面説明会</h3>
            <time class="schedule-date-inline">2025-04-17</time>
            <p class="shinkan__info--content">CanSatをつくってみよう</p>
            <p class="shinkan__info--place">大学会館3階 小集会室</p>
            <time>16:00 ～ 19:45</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-24</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>対面説明会</h3>
            <time class="schedule-date-inline">2025-04-24</time>
            <p class="shinkan__info--content">TBA</p>
            <p class="shinkan__info--place">全学講義棟2号館 103室</p>
            <time>18:00 ～ 19:45</time>
          </td>
        </tr>
      </table>
    </section>
    <section class="info__uni">
      <h2 class="shinkan__info--uni">3団体合同新歓</h2>
      <p class="content-description"></p>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2024-04-14</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h3>展示/説明会</h3>
            <time class="schedule-date-inline">2024-04-14</time>
            <p class="shinkan__info--place">サークル会館 大集会室</p>
            <time class="start--time"><small>展示開始</small> :16:00</time>
            <time><small>説明会</small> :18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-23</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line schedule-line-start"></span>
          </td>
          <td class="schedule-content">
            <h3>展示/説明会</h3>
            <time class="schedule-date-inline">2024-04-23</time>
            <p class="shinkan__info--place">大学会館3階 大集会室</p>
            <time class="start--time"><small>展示開始</small> :16:00</time>
            <time><small>説明会</small> :18:00 ～ 20:00</time>
          </td>
        </tr>
      </table>
    </section>
  </main>
</Layout>