---
import Layout from "../layouts/Layout.astro";
import "../styles/shinkan.css";

const pageTitle = "新歓情報 | 埼玉大学宇宙工学サークルあかとき";
---
<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="schedule">
      <h1 class="content-title">新歓スケジュール</h1>
      <p class="content-description">日程は調整できます。お気軽にご連絡ください！</p>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2025-04-14</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-15</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-16</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 18:30</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-17</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-18</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2025-04-23</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 18:30</time>
          </td>
        </tr>
      </table>
    </section>
    <section class="ex-schedule">
      <h1 class="content-title">昨年度の新歓スケジュール</h1>
      <p class="content-description">昨年度の新歓スケジュールは以下の通りです。</p>
      <table class="schedule-table">
        <tr>
          <td class="schedule-time"><time>2024-04-12</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>17:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-16</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-18</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
        <tr>
          <td class="schedule-time"><time>2024-04-24</time></td>
          <td class="schedule-timeline">
            <span class="schedule-dot"></span>
            <span class="schedule-line schedule-line-start"></span>
          </td>
          <td class="schedule-content">
            <h2>対面説明会</h2>
            <p>全学講義棟2号館103</p>
            <time>18:00 ～ 20:00</time>
          </td>
        </tr>
      </table>
    </section>
  </main>
</Layout>
