---
import Layout from '../layouts/Layout.astro';
import '../styles/thankyou.css';

const pageTitle = "Thank You | 埼玉大学宇宙工学サークルあかとき";
---
<Layout pageTitle={pageTitle}>
  <main class="main-container">
    <section class="thankyou">
      <h1 class="thankyou-title">Thank You!</h1>
      <p class="thankyou-description">フォームを送信しました！</p>
      <p class="thankyou-description">あなたと一緒に活動できてとても嬉しいです！</p>
    </section>
  </main>
</Layout>