---

---

<header>
  <nav>
    <ul class="navigation-list">
      <li class="navigation-item"><a href="/"><img class="navigation-item-logo" src="/akatoki-logo.svg" alt="埼玉大学宇宙工学サークルあかとき"/></a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/">ホーム</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/activity/">団体概要</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/shinkan/">新歓情報</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/photos/">写真</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/mailto:aktk.saidai@gmail.com">問い合わせ</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/article/">記事一覧</a></li>
      <li class="navigation-item"><a class="navigation-item-link" href="/form/">入会・継続フォーム</a></li>
    </ul>
  </nav>
</header>